
/* Universal selector */
* {
    margin: 0;
    padding: 0;
}

/* Element selector */
h2 {
    color: green;
    margin: 10px;
}

/* ID selector */
#mainHeader {
    background-color: black;
    color: white;
    padding: 15px;
    text-align: center;
}

/* Class selector */
.eventCard {
    border: 2px solid gray;
    margin: 10px;
    padding: 10px;
}

/* Grouping selector */
h3, p {
    font-family: Arial;
}